

<div class="form">

  <div class="log d-flex justify-content-center "><h1>sdtfygjhk</h1>

  </div>
  

  <div class="card shadow-lg p-3 mb-5  rounded mx-auto p-2  mt-1 "  style="width: 30%;">
    <div class="card-body">
      
        <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

          <div class="field">
            <label class="label">Username</label>
            <input type="text" class="input" formControlName="username" [class.invalid]="registerForm.get('username')
            ?.invalid &&(registerForm.get('username')?.dirty || registerForm.get('username')?.touched || isSubmitted ) " /> 


<span *ngIf="registerForm.get('username')
?.invalid &&(registerForm.get('username')?.dirty || registerForm.get('username')?.touched || isSubmitted)" class="error" >This Field Is Required</span>


          </div>  
          
          <div class="field">
            <label class="label">password</label>
            <input type="text" class="input" formControlName="password" [class.invalid]="registerForm.get('password')
            ?.invalid &&(registerForm.get('password')?.dirty || registerForm.get('password')?.touched) " />  
            <span *ngIf="registerForm.get('password')
            ?.invalid &&(registerForm.get('password')?.dirty || registerForm.get('password')?.touched || isSubmitted)" class="error" >This Field Is Required</span>
            
            
          </div>  
          
          <div class="field">
            <label class="label">email</label>
            <input type="text" class="input" formControlName="email" [class.invalid]="registerForm.get('email')
            ?.invalid &&(registerForm.get('email')?.dirty || registerForm.get('email')?.touched) " /> 


<span *ngIf="registerForm.get('email')
?.invalid &&(registerForm.get('email')?.dirty || registerForm.get('email')?.touched || isSubmitted)" class="error" >This Field Is Required</span>


          </div>  

          <div>
            <button type="submit" class="button" > register</button>
          </div>

       </form>

      </div>
  </div>


  