
.log{
    margin-bottom: 36px;
    margin-top: 52px;
}
.input{
    height: 40px;
    width: 508px;
    margin-left: 12px;
border-radius: 50px;


}

.field{
    margin-top: 10px;
}
.label{
    margin-top: 10px;
}
.button{
    width: 508px;
    margin-top: 19px;
}


.container {
    display: flex;
    margin-bottom: 50px;
  }
  
  .form-container {
    flex: 1;
margin-right: 200opx;

  }
  
  .image-container {
    flex: 1;
    display: flex;

  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    display: block;

  }
  

  .h{
  align-content: center;
  }