

.input{
    width: 380px;
    margin-left: 12px;
}

.button{
    width: 380px;
}


.container {
    display: flex;

    margin-bottom: 50px;
  }
  
  .form-container {
    flex: 1;
    padding: 20px; /* Adjust padding as needed */

  }
  
  .image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    display: block;

  }
  

  .h{
  align-content: center;
  }